apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: medal-trading
spec:
  replicas: 1
  selector:
    matchLabels:
      app: medal
      component: redis
  template:
    metadata:
      labels:
        app: medal
        component: redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          ports:
            - containerPort: 6379
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: medal-trading
spec:
  selector:
    app: medal
    component: redis
  ports:
    - port: 6379
      targetPort: 6379
  clusterIP: None
